setuptools<81
arrow==1.2.2
asttokens==2.1.0
beautifulsoup4==4.13.3
blinker==1.4
Bootstrap-Flask==1.8.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.0.3
colorama==0.4.6
cssselect==1.2.0
executing==1.2.0
feedparser==6.0.8
Flask==2.0.2
Flask-Analytics==0.6.0
Flask-Caching==2.0.2
Flask-DebugToolbar==0.13.1
Flask-Moment==1.0.2
Flask-Script==2.0.6
gunicorn==20.1.0
icecream==2.1.1
idna==3.10
itsdangerous==2.0.1
Jinja2==3.1.6
lxml==5.3.1
MarkupSafe==3.0.2
parsel==1.6.0
Pygments==2.19.1
python-dotenv==0.19.2
#pyppeteer==1.0.2
requests==2.32.3
six==1.17.0
seleniumbase==4.35.6
#undetected-chromedriver==3.1.7
urllib3==2.3.0
w3lib==1.22.0
Werkzeug==2.1.2
zipp==3.6.0
